<h1 class="pb-4 text-3xl">Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<div class="p-10 text-9xl text-purple-500 font-bold my-10">
  <v-hello-world></v-hello-world>
</div>
<v-test message="Testing both"></v-test>
